<div
    class="toolbarGradient">
    <table
        class="toolbarGrid">
        <tr>
          <td>
            <kite-icon
                (click)="backClicked()"
                [icon]="'ki-chevron-left'"
                [fill]="'rgb(255,255,255)'"
                [size]="'2em'">
            </kite-icon>
          </td>
          <td>
            <kite-icon
                [size]="'2em'">
            </kite-icon>
          </td>
          <td
            style="width: 50%;">
          </td>  
          <td>
            <span
                class="title"
                [textContent]="[title]">
            </span>
          </td>  
          <td
            style="width: 50%;">
          </td>  
          <td>
            <table
                class="toolbarGrid">
                <tr>
                  <td>
                    <kite-icon
                        (click)="chatSupportClicked()"
                        [icon]="'ki-chat-support'"
                        [fill]="'rgb(255,255,255)'"
                        [size]="'2em'">
                    </kite-icon>
                  </td> 
                  <td>
                    <kite-icon
                        (click)="exitClicked()"
                        [icon]="'ki-x'"
                        [fill]="'rgb(255,255,255)'"
                        [size]="'2em'">
                    </kite-icon>
                  </td>
                </tr>
              </table>
          </td>
        </tr>
    </table>
</div>