<kite-grid>
    <kite-grid-cell col="3"/>
    <kite-grid-cell col="6">
        <app-toolbar></app-toolbar>
        <div id="tutorialAnimation">
            <app-lottie [lottie]="lottie" [parentSubject]="lottieSubject" height="300px" width="300px"></app-lottie>
        </div>
        <div id="tutorialContent">
            <h1 class="h3">{{title}}</h1>
            <p>{{body}}</p>
        </div>
        <div id="tutorialButtons">
            <kite-button (click)="next()">Next</kite-button>
        </div>
    </kite-grid-cell>
    <kite-grid-cell col="3"/>
</kite-grid>


